.container {
    //background-color: deepskyblue;
    width: 100%;
    //height: 100px;
}

.container {
    @media print {
        width: -webkit-fill-available;
        width: -moz-available;
        width: fill-available;
        height: -webkit-fill-available;
        height: -moz-available;
        height: fill-available;
    }
}

.button {
    margin-left: 10px;
    padding: 3px 10px;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.active {
    color: white;
    background-color: #1236ff;
}

.ticket {
    font-size: 20px;
}

.ticketItem {
    padding: 25px;
    width: 396px;
    height: 280.5px;

    border: 1px solid black;
    //padding: 10px;
    //width: max-content;
    margin: 0 auto 20px;
}

.ticketImageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    width: 280px;
    margin: 0 auto;
    bottom: 57px;
    transform: rotate(90deg);
}

.title {
    width: 280px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 0 auto 14px;
}
.description {
    text-align: center;
    width: 235px;
    margin: 0 auto 25px;
    font-size: 12px;
    line-height: 1.67;
    color: rgba(0,0,0,0.4);
}


.border {
    width: 220px;
    height: 220px;
}

.qrcode {
    width: 175px;
    height: 175px;
    position: absolute;
    z-index: 2;
}
