.container {
    width: 1200px;
    padding: 50px 10px;
    margin: 0 auto;
    background-color: #888;
}

.item {
    cursor: pointer;
    background-color: #1236ff;
    color: white;
    margin-bottom: 20px;
}
